<style>
body {
	background-image: url("<%= image_path("seamless3.png") %>");
}
</style>
<div style="margin-top:20px; text-align:center;"><font size="6" color="red"><strong>Permission denied</strong></font></div>
